VITE_SUPABASE_URL=https://qmnezjxwnjhpmgmxtgkt.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFtbmV6anh3bmpocG1nbXh0Z2t0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2MjQ3NzcsImV4cCI6MjEwMjIwMDc3N30.O1ISRdhnduBuV5j4IRgpOEtlp8pY6ksIfAg21y373qc

# Copy this file to `.env` in the `co-pfl` folder and replace with real values.
